@font-face {
  font-family: Montserrat;
  src: url(../font/Montserrat-Black.ttf);
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: Montserrat;
  src: url(../font/Montserrat-Bold.ttf);
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: Montserrat;
  src: url(../font/Montserrat-Italic.ttf);
  font-style: italic;
  font-weight: 300; }

@font-face {
  font-family: Montserrat;
  src: url(../font/Montserrat-Light.ttf);
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: Montserrat;
  src: url(../font/Montserrat-LightItalic.ttf);
  font-weight: 100;
  font-style: italic; }

@font-face {
  font-family: Montserrat;
  src: url(../font/Montserrat-Regular.ttf);
  font-weight: 300;
  font-size: normal; }

* {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-style: normal; }

html {
  font-size: 16px; }

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer; }

h1 {
  font-size: 3.2rem;
  font-weight: 600; }

h2 {
  font-size: 3.2rem;
  font-weight: 100; }

h3 {
  font-weight: 900; }

h4 {
  font-weight: 600; }

.makeit-light {
  font-weight: 100; }

.makeit-normal {
  font-weight: 300; }

.makeit-bold {
  font-weight: 600; }

.makeit-black {
  font-weight: 900; }

.makeit-italic {
  font-style: italic; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  overflow: hidden; }

.title-container {
  width: 100%;
  overflow: hidden; }

.title-item {
  display: inline;
  position: relative; }
  .title-item::after {
    content: "";
    width: 100vw;
    height: 0;
    border-top: solid 1pt #fbfbfb;
    position: absolute;
    top: 50%;
    left: calc(100% + 25px); }

.link {
  position: relative;
  z-index: 2; }
  .link::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1.22rem;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: right; }
  .link:hover::after {
    transform: scaleX(1);
    transform-origin: left; }
  .link-white::after {
    background-color: #fbfbfb; }
  .link-white:hover {
    color: #303030; }
  .link-black::after {
    background-color: #303030; }
  .link-black:hover {
    color: #fbfbfb; }

.wrapper {
  width: 1140px;
  margin: 0 auto;
  position: relative;
  min-height: 100%; }

header, section {
  min-height: 100vh; }

.btn {
  width: 66.66667%;
  height: 50px;
  border: none;
  border-radius: 25px;
  background-color: #303030;
  color: #fbfbfb;
  font-size: .95rem;
  transform: scale(1) translateY(0);
  box-shadow: 0px 5px 13px rgba(0, 0, 0, 0.5); }
  .btn:hover {
    transform: scale(1.02) translateY(-4px);
    box-shadow: 0px 9px 13px rgba(0, 0, 0, 0.5); }

.icon-svg_cv {
  margin-bottom: 17px; }

.hoverable {
  transform: scale(1); }
  .hoverable:hover {
    transform: scale(1.1); }

/*---   Ordered per section   ---*/
#menu-burger {
  width: 70px;
  height: 34px;
  position: fixed;
  top: 50px;
  right: 25px;
  z-index: 11; }
  #menu-burger .menu-stroke {
    width: 100%;
    height: 0;
    border-top: solid 1.5pt #303030;
    border-bottom: solid 1.5pt #fbfbfb;
    position: absolute; }
    #menu-burger .menu-stroke-1 {
      top: 0;
      transform: rotate(0);
      transform-origin: center; }
    #menu-burger .menu-stroke-2 {
      top: 50%;
      opacity: 1;
      transform: translateY(-50%); }
    #menu-burger .menu-stroke-3 {
      bottom: 0;
      transform: rotate(0);
      transform-origin: center; }
  #menu-burger.burger-exit .menu-stroke {
    border-bottom: 0; }
    #menu-burger.burger-exit .menu-stroke-1 {
      top: 50%;
      transform: rotate(45deg); }
    #menu-burger.burger-exit .menu-stroke-2 {
      opacity: 0; }
    #menu-burger.burger-exit .menu-stroke-3 {
      transform: rotate(-45deg);
      bottom: 50%; }

.menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  background-color: #fbfbfb;
  min-width: 100%;
  min-height: 100vh;
  opacity: 1;
  overflow: hidden;
  transform: translateX(0px); }
  .menu-logo {
    margin-bottom: 50px; }
  .menu-closed {
    right: -100%;
    opacity: 0;
    transform: translateX(100px); }
  .menu .wrapper {
    max-width: 768px; }
  .menu-primary {
    font-size: 2rem;
    position: absolute;
    top: 50vh;
    transform: translateY(-50%);
    list-style: none; }
    .menu-primary-item {
      display: block;
      margin-bottom: 15px;
      padding-left: 15px;
      position: relative; }
      .menu-primary-item::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        width: 25px;
        transform: scaleX(0);
        transform-origin: left;
        border-top: solid 1.5pt #303030; }
      .menu-primary-item:hover {
        padding-left: 40px; }
        .menu-primary-item:hover::before {
          transform: scaleX(1); }
  .menu-secondary {
    display: flex;
    list-style: none;
    margin-top: 30px;
    padding-top: 30px;
    border-top: solid 1.5pt #303030; }
    .menu-secondary-item {
      width: 40px;
      height: 40px;
      margin-right: 30px; }
      .menu-secondary-item:last-child {
        margin-right: 0; }
  .menu svg * {
    fill: #303030; }

.header {
  color: #303030; }
  .header::before {
    content: '';
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    background-image: url(../img/header.jpg);
    background-size: cover;
    background-position: center;
    z-index: -2; }
  .header-right {
    width: 50%;
    position: absolute;
    right: 0;
    top: 50vh;
    transform: translateY(-50%);
    text-align: center; }
    .header-right .main-logo {
      margin-bottom: 33px; }
    .header-right h1 {
      padding-bottom: 46px;
      margin-bottom: 33px;
      width: 100%;
      position: relative; }
      .header-right h1::after {
        content: '';
        width: 50% !important;
        height: 0;
        border-bottom: solid 1.5pt #303030;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%); }
    .header-right p {
      font-size: 1.8rem;
      width: 75%;
      margin: 0 auto 58px;
      word-spacing: 0.6rem; }
  .header svg * {
    fill: #303030; }

.aboutme {
  background-color: #303030;
  color: #fbfbfb; }
  .aboutme-wrapper {
    position: relative;
    top: 50vh;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .aboutme-wrapper p {
      width: 66.66667%;
      padding-right: 8.33333%;
      box-sizing: content-box;
      text-align: center;
      font-size: 3.4rem;
      position: relative;
      display: block; }
      .aboutme-wrapper p::after {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        width: 0;
        height: 100%;
        border-left: solid 1.5pt #fbfbfb;
        transform: scaleY(0); }
      .aboutme-wrapper p.triggerred::after {
        transform: scaleY(1); }
      .aboutme-wrapper p span.part-1 {
        font-size: 1.55rem;
        display: block; }
      .aboutme-wrapper p span.part-3 {
        font-size: 2.2rem;
        display: block; }
    .aboutme-wrapper button {
      background: none;
      border: none;
      color: #fbfbfb;
      font-size: 1.6rem;
      width: 187px;
      transform: translateX(-20px);
      opacity: 0; }
      .aboutme-wrapper button svg {
        display: block;
        margin: 0 auto 20px; }
      .aboutme-wrapper button.triggerred {
        transform: translateX(0);
        opacity: 1; }
  .aboutme svg * {
    fill: #fbfbfb; }

.skills {
  background-image: url(../img/skills.png);
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
  text-align: center; }
  .skills::before {
    content: '';
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    background-image: url(../img/skills.png);
    background-size: cover;
    background-position: center;
    z-index: -1;
    display: none; }
  .skills.attached::before {
    display: block; }
  .skills-wrapper {
    position: relative;
    top: 50vh;
    transform: translateY(-50%); }
  .skills-container {
    display: flex;
    justify-content: space-around; }
  .skills-item {
    width: 340px; }
    .skills-item.triggerred h4 {
      transform: translateY(0) !important;
      opacity: 1 !important; }
    .skills-item.triggerred ul {
      transform: translateY(0) !important;
      opacity: 1 !important; }
    .skills-item h4 {
      font-size: 1.2rem;
      margin-bottom: 50px;
      transform: translateY(10px);
      opacity: 0; }
    .skills-item ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      list-style: none;
      text-align: center;
      transform: translateY(10px);
      opacity: 0; }
      .skills-item ul li {
        margin-bottom: 20px;
        width: 70px;
        height: 70px; }
        .skills-item ul li .icon-svg_skills {
          height: 100%; }
  .skills h2 {
    position: relative;
    padding-bottom: 80px;
    margin-bottom: 100px; }
    .skills h2::after {
      content: '';
      position: absolute;
      width: 16.66667%;
      height: 0;
      border-top: solid 1.5pt #303030;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%) scaleX(0); }
    .skills h2.triggerred::after {
      transform: translateX(-50%) scaleX(1); }
  .skills svg * {
    fill: #303030; }

.casestudy {
  padding: 150px 0;
  background-color: #fbfbfb; }
  .casestudy-single {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 150px; }
    .casestudy-single:last-child {
      margin-bottom: 0; }
    .casestudy-single:nth-child(2n+0) {
      flex-direction: row-reverse; }
      .casestudy-single:nth-child(2n+0) .casestudy-single_item__images-tablet {
        top: 171px; }
      .casestudy-single:nth-child(2n+0) .casestudy-single_item__images-mobile {
        top: 86px; }
    .casestudy-single_item__text {
      width: 41.66667%; }
      .casestudy-single_item__text .title-item::after {
        border-color: #303030; }
      .casestudy-single_item__text h3 {
        font-size: 1.8rem; }
      .casestudy-single_item__text p {
        margin: 50px 0 100px; }
    .casestudy-single_item__images {
      width: 50%;
      height: 656px;
      position: relative; }
      .casestudy-single_item__images-desktop {
        position: absolute;
        width: 390px;
        max-height: 500px;
        overflow: hidden;
        box-shadow: 0px 5px 13px rgba(0, 0, 0, 0.5); }
        .casestudy-single_item__images-desktop img {
          width: 100%; }
      .casestudy-single_item__images-tablet {
        position: absolute;
        top: 86px;
        left: 33.33333%;
        width: 288px;
        max-height: 490px;
        overflow: hidden;
        box-shadow: 0px 5px 13px rgba(0, 0, 0, 0.5); }
        .casestudy-single_item__images-tablet img {
          width: 100%; }
      .casestudy-single_item__images-mobile {
        position: absolute;
        right: 0;
        top: 171px;
        width: 187px;
        max-height: 477px;
        overflow: hidden;
        box-shadow: 0px 5px 13px rgba(0, 0, 0, 0.5); }
        .casestudy-single_item__images-mobile img {
          width: 100%; }
  .casestudy svg * {
    fill: #303030; }

.footer {
  background-color: #303030;
  padding: 100px 0;
  color: #fbfbfb; }
  .footer-wrapper {
    width: 1197px;
    margin: 0 auto; }
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .footer-item {
    width: 33.33333%;
    margin-bottom: 40px; }
    .footer-item:last-child {
      margin: 0; }
    .footer-item_logo {
      text-align: center; }
    .footer-item_social h4 {
      font-size: 1.2rem;
      letter-spacing: 0.1rem; }
    .footer-item_social ul {
      display: flex;
      list-style: none;
      margin-top: 25px; }
      .footer-item_social ul li {
        width: 35px;
        height: 35px;
        margin-right: 35px; }
    .footer-item_contact {
      text-align: right;
      line-height: 1.8rem; }
    .footer-item_rights {
      text-align: center;
      line-height: 1.8rem; }
  .footer svg * {
    fill: #fbfbfb; }

.intro {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  background-color: #fbfbfb; }
  .intro-logo {
    width: 200px;
    height: 200px;
    display: block;
    position: absolute;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%); }
    .intro-logo svg * {
      fill: #303030; }

.intro {
  opacity: 1;
  left: 0; }
  .intro.ended {
    opacity: 0;
    left: 100%;
    transition: opacity .6s linear 1.6s, left 0s linear 2.2s; }
  .intro-logo {
    opacity: 1; }
    .intro-logo.ended {
      opacity: 0;
      transition: opacity .6s linear 1s; }

.menu {
  transition: opacity 0.3s linear, transform 0.3s cubic-bezier(0, 0.2, 0, 1); }
  .menu-closed {
    transition: opacity 0.3s linear, transform 0.3s cubic-bezier(0, 0.2, 0, 1), right 0s linear 0.3s; }
  .menu-primary-item {
    transition: padding-left 0.3s cubic-bezier(0, 0.2, 0, 1); }
    .menu-primary-item::before {
      transition: transform 0.3s cubic-bezier(0, 0.2, 0, 1); }
    .menu-primary-item:hover {
      transition: padding-left 0.3s cubic-bezier(0, 0.2, 0, 1); }
      .menu-primary-item:hover::before {
        transition: transform 0.3s cubic-bezier(0, 0.2, 0, 1); }

.btn {
  transition: box-shadow 0.3s cubic-bezier(0, 0.2, 0, 1), transform 0.3s cubic-bezier(0, 0.2, 0, 1); }
  .btn:hover {
    transition: box-shadow 0.3s cubic-bezier(0, 0.2, 0, 1), transform 0.3s cubic-bezier(0, 0.2, 0, 1); }

#menu-burger .menu-stroke-1 {
  transition: top 0.3s cubic-bezier(0, 0.2, 0, 1) 0.3s, transform 0.3s cubic-bezier(0, 0.2, 0, 1); }

#menu-burger .menu-stroke-2 {
  transition: opacity 0s linear .3s; }

#menu-burger .menu-stroke-3 {
  transition: bottom 0.3s cubic-bezier(0, 0.2, 0, 1) 0.3s, transform 0.3s cubic-bezier(0, 0.2, 0, 1); }

#menu-burger.burger-exit .menu-stroke-1 {
  transition: transform 0.3s cubic-bezier(0, 0.2, 0, 1) 0.3s, top 0.3s cubic-bezier(0, 0.2, 0, 1); }

#menu-burger.burger-exit .menu-stroke-2 {
  transition: opacity 0s linear .3s; }

#menu-burger.burger-exit .menu-stroke-3 {
  transition: transform 0.3s cubic-bezier(0, 0.2, 0, 1) 0.3s, bottom 0.3s cubic-bezier(0, 0.2, 0, 1); }

.aboutme-wrapper p::after {
  transition: transform 0.3s cubic-bezier(0, 0.2, 0, 1); }

.aboutme-wrapper p.triggerred::after {
  transition: transform 0.3s cubic-bezier(0, 0.2, 0, 1); }

.aboutme-wrapper button.triggerred {
  transition: transform 0.3s cubic-bezier(0, 0.2, 0, 1), opacity 0.3s linear; }

.skills h2.triggerred::after {
  transition: transform 0.3s cubic-bezier(0, 0.2, 0, 1); }

.skills-item.triggerred h4 {
  transition: transform 0.3s cubic-bezier(0, 0.2, 0, 1), opacity 0.3s cubic-bezier(0, 0.2, 0, 1); }

.skills-item.triggerred ul {
  transition: transform 0.3s cubic-bezier(0, 0.2, 0, 1) 0.2s, opacity 0.3s cubic-bezier(0, 0.2, 0, 1) 0.2s; }

.link {
  transition: color .3s linear; }
  .link::after {
    transition: transform 0.3s cubic-bezier(1, 0, 0, 1); }
  .link:hover {
    transition: color .3s linear; }
    .link:hover::after {
      transition: transform 0.3s cubic-bezier(1, 0, 0, 1); }

.hoverable {
  transition: transform 0.3s cubic-bezier(0, 0.2, 0, 1); }
  .hoverable:hover {
    transition: transform 0.3s cubic-bezier(0, 0.2, 0, 1); }

@media screen and (max-width: 1399px) {
  html {
    font-size: 12px; }
  .wrapper, .footer-wrapper {
    width: 960px; }
  #menu-burger {
    width: 45px;
    height: 24px; }
  .menu-secondary-item {
    width: 35px;
    height: 35px; }
  .skills h2 {
    padding-bottom: 40px;
    margin-bottom: 50px; }
  .footer {
    padding: 50px 0; } }

@media screen and (max-width: 991px) {
  .wrapper, .footer-wrapper {
    width: 720px; }
  .menu-primary {
    left: 50%;
    transform: translate(-50%, -50%); }
  .header {
    background-position: 25% 0; }
    .header-right {
      width: 66.66667%; }
  .aboutme-wrapper {
    display: block; }
    .aboutme-wrapper p {
      margin: 0 auto;
      padding-right: 0;
      padding-bottom: 60px;
      margin-bottom: 60px; }
      .aboutme-wrapper p::after {
        height: 0;
        width: 66.66667%;
        left: 50%;
        border-left: 0;
        border-bottom: solid 1.5pt #fbfbfb;
        transform: translateX(-50%) scaleX(0); }
      .aboutme-wrapper p.triggerred::after {
        transform: translateX(-50%) scaleX(1); }
    .aboutme-wrapper button {
      display: block;
      margin: 0 auto;
      transform: translateY(20px); }
  .skills-container {
    display: block; }
  .skills-item {
    margin: 80px auto 80px; }
  .casestudy-single {
    display: block;
    margin: 0 auto 100px; }
    .casestudy-single:last-child {
      margin-bottom: 0; }
    .casestudy-single_item__text {
      width: 66.66667%;
      margin: 0 auto 80px; }
      .casestudy-single_item__text p {
        margin: 25px 0 40px; }
    .casestudy-single_item__images {
      width: 66.66667%;
      margin: 0 auto; }
  .footer-item {
    width: 50%;
    margin-bottom: 40px !important; }
    .footer-item_contact {
      text-align: center; } }

@media screen and (max-width: 767px) {
  .wrapper, .footer-wrapper {
    width: 540px; }
  #menu-burger {
    top: 30px;
    right: 20px; }
  .menu-logo svg {
    width: 150px; }
  .menu-secondary-item {
    margin-right: 15px; }
  .header-right {
    width: 100%; }
    .header-right h1 {
      font-size: 2.7rem; }
    .header-right .main-logo {
      width: 140px;
      margin: 0 auto; }
      .header-right .main-logo svg {
        width: 100%; }
  .aboutme-wrapper {
    transform: none;
    top: 0;
    padding: 50px 0 100px; }
    .aboutme-wrapper p {
      font-size: 2.7rem; }
    .aboutme-wrapper button svg {
      width: 70px; }
  .skills-wrapper {
    position: static;
    transform: none;
    padding: 50px 10px 20px; }
    .skills-wrapper h2::after {
      width: 66.66667%; }
  .skills-item {
    width: 300px; }
    .skills-item ul li {
      height: 50px; }
  .casestudy {
    padding: 0; }
    .casestudy .btn {
      width: 83.33333%;
      margin: 0 auto;
      display: block; }
    .casestudy-single {
      margin: 100px 0 100px; }
      .casestudy-single_item {
        width: 83.33333%; }
        .casestudy-single_item__images {
          position: static;
          height: auto; }
          .casestudy-single_item__images-desktop {
            position: static;
            max-height: 100%;
            width: 100%;
            margin-bottom: 30px; }
          .casestudy-single_item__images-tablet {
            position: static;
            max-height: 100%;
            width: 100%;
            margin-bottom: 30px; }
          .casestudy-single_item__images-mobile {
            position: static;
            max-height: 100%;
            width: 100%;
            margin-bottom: 30px; }
  .footer-wrapper {
    display: block; }
  .footer-item {
    margin: 0 auto 40px !important;
    width: 75%; }
    .footer-item_social ul li {
      margin-right: 25px; } }

@media screen and (max-width: 575px) {
  .wrapper, .footer-wrapper {
    width: calc(100% - 20px); } }

@media screen and (min-width: 1400px) {
  .wrapper, .footer-wrapper {
    width: 1140px; } }
