@import "animation";

@media screen and (max-width: 1399px) {

  html {
    font-size: 12px;
  }

  .wrapper, .footer-wrapper {
    width: 960px;
  }

  #menu-burger {
    width: 45px;
    height: 24px;
  }

  .menu {
    &-secondary {
      &-item {
        width: 35px;
        height: 35px;
      }
    }
  }

  .skills {
    h2 {
      padding-bottom: 40px;
      margin-bottom: 50px;
    }
  }

  .footer {
    padding: 50px 0;
  }
}

@media screen and (max-width: 991px) {
  .wrapper, .footer-wrapper {
    width: 720px;
  }

  .menu {
    &-primary {
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .header {
    &::before {
      background-position: 25% 0;
    }
    &-right {
      width: percentage(2/3);
    }
  }

  .aboutme {
    &-wrapper {
      display: block;

      p {
        margin: 0 auto;
        padding-right: 0;
        padding-bottom: 60px;
        margin-bottom: 60px;
        &::after {
          height: 0;
          width: percentage(2/3);
          left: 50%;
          border-left: 0;
          border-bottom: solid 1.5pt $white;
          transform: translateX(-50%) scaleX(0);
        }
        &.triggerred {
          &::after {
            transform: translateX(-50%) scaleX(1);
          }
        }
      }
      button {
        display: block;
        margin: 0 auto;
        transform: translateY(20px);
      }
    }
  }

  .skills {
  &-container {
    display: block;
  }
  &-item {
    margin: 80px auto 80px;
  }
}

  .casestudy {

      &-single {
        display: block;
        margin: 0 auto 100px;

        &:last-child{
          margin-bottom: 0;
        }

        &_item {
          &__text {
            width: percentage(2/3);
            margin: 0 auto 80px;

            p {
              margin: 25px 0 40px;
            }
          }
          &__images {
            width: percentage(2/3);
            margin: 0 auto;
          }
        }
      }
    }

  .footer {
    &-item {
      width: 50%;
      margin-bottom: 40px !important;

      &_contact {
        text-align: center;
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .wrapper, .footer-wrapper {
    width: 540px;
  }

  #menu-burger {
    top: 30px;
    right: 20px;
  }

  .menu {
    &-logo {
      svg {
        width: 150px;
      }
    }
    &-secondary {
      &-item {
        margin-right: 15px;
      }
    }
  }

  .header {
    &-right {
      width: 100%;

      h1 {
        font-size: 2.7rem;
      }
      .main-logo {
        width: 140px;
        margin: 0 auto;

        svg {
          width: 100%;
        }
      }

    }
  }

  .aboutme {
    &-wrapper {
      transform: none;
      top: 0;
      padding: 50px 0 100px;
      p {
        font-size: 2.7rem;
      }
      button {
        svg {
          width: 70px;
        }
      }
    }
  }

  .skills {
    &-wrapper {
      position: static;
      transform: none;
      padding: 50px 10px 20px;

      h2 {
        &::after {
          width: percentage(2/3);
        }
      }
    }
    &-item {
      width: 300px;

      ul {
        li {
          height: 50px;
        }
      }
    }
  }

  .casestudy{
    padding: 100px 0;
    .btn {
      width: percentage(5/6);
      margin: 0 auto;
      display: block;
    }
    &-single {
      margin: 0 0 100px;
      &_item {
        width: percentage(5/6);
        &__images{
          position: static;
          height: auto;
          &-desktop {
            position: static;
            max-height: 100%;
            width: 100%;
            margin-bottom: 30px;
          }
          &-tablet {
            position: static;
            max-height: 100%;
            width: 100%;
            margin-bottom: 30px;
          }
          &-mobile {
            position: static;
            max-height: 100%;
            width: 100%;
            margin-bottom: 30px;
          }
        }
      }
    }
  }

  .footer {
    &-wrapper {
      display: block;
    }
    &-item {
      margin: 0 auto 40px !important;
      width: percentage(3/4);

      &_social {
        ul {
          li {
            margin-right: 25px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 575px) {
  .wrapper, .footer-wrapper {
    width: calc(100% - 20px);
  }
}

@media screen and (min-width: 576px) {}
@media screen and (min-width: 768px) {}
@media screen and (min-width: 992px) {}
@media screen and (min-width: 1400px) {
  .wrapper, .footer-wrapper {
    width: 1140px;
  }
}
